<div class="container">
    <% include ./partials/messages %>

    <div>
        <h1><%= result.title %></h1>
        <a href="/sport">Go back</a>
        <div style="margin-top: 3%;">
            <img src="<%= result.image %>" alt="image" />
            <p>
                <%= result.description %>
            </p>
        </div>
    </div>

    <a href="/sport/<%= result.id %>/modify"><button class="button">Modify</button></a>
    <form method="POST" action="/sport/<%= result.id %>/delete/?_method=DELETE">
        <button class="button deleteBtn" type="submit">Delete resource</button>
    </form>
</div>
