<div class="container">
  <h1><%= result.title %></h1>
  <img src="<%= result.image %>" alt="image" />
  <p>
    <%= result.description %>
  </p>
  <a href="/sport/modify/<%= result.id %>"><button>Modify</button></a>
  <form method="POST" action="/sport/delete/<%= result.id %>?_method=DELETE">
    <button type="submit">Delete resource</button>
  </form>
</div>
